<script type='text/x-handlebars' data-template-name='list/posters-column.raw'>
  <td class='posters'>
      <a href="/u/{{post.creator.username}}" data-auto-route="true" data-user-card="{{post.creator.username}}">{{post.creator.username}}</a>
  </td>
</script>

<script type='text/x-handlebars' data-template-name='discovery/topics'>
  {{#if redirectedReason}}
<div class="alert alert-info">{{redirectedReason}}</div>
{{/if}}

{{#if showDismissAtTop}}
<div class="row">
  {{#if showDismissRead}}
    <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics-top' class='btn dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
  {{/if}}
  {{#if showResetNew}}
  <button id='dismiss-new-top' class='btn dismiss-read' {{action "resetNew"}}>{{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
  {{/if}}
</div>
{{/if}}

{{#if model.sharedDrafts}}
{{topic-list
  class="shared-drafts"
  listTitle="shared_drafts.title"
  top=top
  hideCategory="true"
  category=category
  topics=model.sharedDrafts
  discoveryList=true}}
{{/if}}

{{bulk-select-button selected=selected action="refresh" category=category}}

{{#discovery-topics-list model=model refresh="refresh" incomingCount=topicTrackingState.incomingCount}}
{{#if top}}
  <div class='top-lists'>
    {{period-chooser period=period action="changePeriod"}}
  </div>
{{else}}
  {{#if topicTrackingState.hasIncoming}}
    <div class="show-more {{if hasTopics 'has-topics'}}">
      <div class='alert alert-info clickable' {{action "showInserted"}}>
        {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
      </div>
    </div>
  {{/if}}
{{/if}}

{{#if hasTopics}}
  {{topic-list
    highlightLastVisited=true
    top=top
    showTopicPostBadges=showTopicPostBadges
    showPosters=false
    canBulkSelect=canBulkSelect
    changeSort="changeSort"
    toggleBulkSelect="toggleBulkSelect"
    hideCategory=model.hideCategory
    order=order
    ascending=ascending
    bulkSelectEnabled=bulkSelectEnabled
    selected=selected
    expandGloballyPinned=expandGloballyPinned
    expandAllPinned=expandAllPinned
    category=category
    topics=model.topics
    discoveryList=true}}
{{/if}}
{{/discovery-topics-list}}

<footer class='topic-list-bottom'>
{{conditional-loading-spinner condition=model.loadingMore}}
{{#if allLoaded}}
  {{#if showDismissRead}}
    <button title="{{i18n 'topics.bulk.dismiss_tooltip'}}" id='dismiss-topics' class='btn dismiss-read' {{action "dismissReadPosts"}}>{{i18n 'topics.bulk.dismiss_button'}}</button>
  {{/if}}
  {{#if showResetNew}}
    <button id='dismiss-new' class='btn dismiss-read' {{action "resetNew"}}>
      {{d-icon "check"}} {{i18n 'topics.bulk.dismiss_new'}}</button>
  {{/if}}

  {{#footer-message education=footerEducation message=footerMessage}}
    {{#if latest}}
      {{#if canCreateTopicOnCategory}}<a href {{action "createTopic"}}>{{i18n 'topic.suggest_create_topic'}}</a>{{/if}}
    {{else if top}}
      {{#link-to "discovery.categories"}}{{i18n 'topic.browse_all_categories'}}{{/link-to}}, {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}} {{i18n 'or'}} {{i18n 'filters.top.other_periods'}}
      {{top-period-buttons period=period action="changePeriod"}}
    {{else}}
      {{#link-to "discovery.categories"}} {{i18n 'topic.browse_all_categories'}}{{/link-to}} {{i18n 'or'}} {{#link-to 'discovery.latest'}}{{i18n 'topic.view_latest_topics'}}{{/link-to}}
    {{/if}}
  {{/footer-message}}

{{/if}}
</footer>

</script>

<script type='text/x-handlebars' data-template-name='topic-list-header.raw'>
  {{#if bulkSelectEnabled}}
<th class="bulk-select">
  {{#if canBulkSelect}}
    {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
  {{/if}}
</th>
{{/if}}
{{raw "topic-list-header-column" order='default' name=listTitle bulkSelectEnabled=bulkSelectEnabled showBulkToggle=toggleInTitle canBulkSelect=canBulkSelect}}
{{#unless hideCategory}}
{{raw "topic-list-header-column" sortable=sortable order='category' name='category_title'}}
{{/unless}}
{{#if showPosters}}
{{raw "topic-list-header-column" order='posters' name='users'}}
{{/if}}
{{raw "topic-list-header-column" sortable=sortable number='true' order='posts' name='replies'}}
{{!-- {{#if showParticipants}}
{{raw "topic-list-header-column" order='participants' name='users'}}
{{/if}} --}}
{{#if showLikes}}
{{raw "topic-list-header-column" sortable=sortable number='true' order='likes' name='likes'}}
{{/if}}
{{#if showOpLikes}}
{{raw "topic-list-header-column" sortable=sortable number='true' order='op_likes' name='likes'}}
{{/if}}
{{raw "topic-list-header-column" sortable=sortable number='true' order='views' name='views'}}
{{raw "topic-list-header-column" sortable=sortable number='true' order='activity' name='activity'}}

</script>

<script type='text/x-handlebars' data-template-name='list/topic-list-item.raw'>
 {{#if bulkSelectEnabled}}
<td class="bulk-select">
  <input type="checkbox" class="bulk-select">
</td>
{{/if}}

<td class='main-link clearfix' colspan="{{titleColSpan}}">
<span class='link-top-line'>
  {{raw-plugin-outlet name="topic-list-before-status"}}
  {{raw "topic-status" topic=topic}}
  {{topic-link topic class="raw-link raw-topic-link"}}
  {{#if topic.featured_link}}
    {{topic-featured-link topic}}
  {{/if}}
  {{raw-plugin-outlet name="topic-list-after-title"}}
  {{#if showTopicPostBadges}}
    {{raw "topic-post-badges" unread=topic.unread newPosts=topic.displayNewPosts unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
  {{/if}}
</span>

{{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
{{#if expandPinned}}
  {{raw "list/topic-excerpt" topic=topic}}
{{/if}}
{{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
</td>

{{#unless hideCategory}}
{{#unless topic.isPinnedUncategorized}}
  {{raw "list/category-column" category=topic.category}}
{{/unless}}
{{/unless}}

{{#if showPosters}}
{{raw "list/posters-column" posters=topic.posters}}
{{/if}}

{{raw "list/posts-count-column" topic=topic}}

{{#if showParticipants}}
{{raw "list/posters-column" posters=topic.participants}}
{{/if}}

{{#if showLikes}}
<td class="num likes">
{{#if hasLikes}}
  <a href='{{topic.summaryUrl}}'>
    {{number topic.like_count}} {{d-icon "heart"}}</td>
  </a>
{{/if}}
{{/if}}

{{#if showOpLikes}}
<td class="num likes">
{{#if hasOpLikes}}
  <a href='{{topic.summaryUrl}}'>
    {{number topic.op_like_count}} {{d-icon "heart"}}</td>
  </a>
{{/if}}
{{/if}}

<td class="num views {{topic.viewsHeat}}">{{number topic.views numberKey="views_long"}}</td>

{{raw "list/activity-column" topic=topic class="num" tagName="td"}} 
</script>

<script type='text/x-handlebars' data-template-name='topic'>
{{#discourse-topic multiSelect=multiSelect enteredAt=enteredAt topic=model hasScrolled=hasScrolled}}
{{#if model}}
  {{add-category-class category=model.category}}
  <div class="container">
    {{discourse-banner user=currentUser banner=site.banner overlay=hasScrolled hide=model.errorLoading}}
  </div>
{{/if}}

{{#if showSharedDraftControls}}
  {{shared-draft-controls topic=model}}
{{/if}}

{{plugin-outlet name="topic-above-post-stream" args=(hash model=model)}}

{{#if model.postStream.loaded}}
  {{#if model.postStream.firstPostPresent}}
    {{#topic-title cancelled="cancelEditingTopic" save="finishedEditingTopic" model=model}}
      {{#if editingTopic}}
        <div class="edit-topic-title">
        {{#if model.isPrivateMessage}}
          <span class="private-message-glyph">{{d-icon "envelope"}}</span>
        {{/if}}
          {{text-field id="edit-title" value=buffered.title maxlength=siteSettings.max_topic_title_length autofocus="true"}}
          {{#if showCategoryChooser}}
            {{category-chooser class="small" value=buffered.category_id}}
          {{/if}}

          {{#if canEditTags}}
            {{mini-tag-chooser filterable=true tags=buffered.tags categoryId=buffered.category_id}}
          {{/if}}

          {{plugin-outlet name="edit-topic" args=(hash model=model buffered=buffered)}}
          <div class="edit-controls">
            {{d-button action="finishedEditingTopic" class="btn-primary btn-small submit-edit" icon="check"}}
            {{d-button action="cancelEditingTopic" class="btn-small cancel-edit" icon="times"}}

            {{#if canRemoveTopicFeaturedLink}}
              <a href {{action "removeFeaturedLink"}} class="remove-featured-link" title="{{i18n "composer.remove_featured_link"}}">
                {{d-icon "times-circle"}}
                {{featuredLinkDomain}}
              </a>
            {{/if}}
          </div>
        </div>

      {{else}}
        <h1>
          {{#unless model.is_warning}}
            {{#if siteSettings.enable_personal_messages}}
              <a href={{pmPath}}>
                <span class="private-message-glyph">{{d-icon "envelope"}}</span>
              </a>
            {{else}}
              <span class="private-message-glyph">{{d-icon "envelope"}}</span>
            {{/if}}
          {{/unless}}

          {{#if model.details.loaded}}
            {{topic-status topic=model}}
            <a href="{{unbound model.url}}" {{action "jumpTop"}} class="fancy-title">
              {{{model.fancyTitle}}}
            </a>
          {{/if}}

          {{#if model.details.can_edit}}
            <a href {{action "editTopic"}} class="edit-topic" title="{{i18n "edit"}}">{{d-icon "pencil"}}</a>
          {{/if}}
        </h1>

        {{topic-category topic=model class="topic-category"}}
      {{/if}}
    {{/topic-title}}
  {{/if}}


  <div class="container posts">
    <div class='selected-posts {{unless multiSelect 'hidden'}}'>
      {{partial "selected-posts"}}
    </div>

    {{#topic-navigation topic=model jumpToIndex=(action "jumpToIndex") as |info|}}
      {{#if info.renderTimeline}}
        {{#if info.renderAdminMenuButton}}
          {{topic-admin-menu-button
            topic=model
            fixed="true"
            toggleMultiSelect=(action "toggleMultiSelect")
            deleteTopic=(action "deleteTopic")
            recoverTopic=(action "recoverTopic")
            toggleClosed=(action "toggleClosed")
            toggleArchived=(action "toggleArchived")
            toggleVisibility=(action "toggleVisibility")
            showTopicStatusUpdate=(action "topicRouteAction" "showTopicStatusUpdate")
            showFeatureTopic=(action "topicRouteAction" "showFeatureTopic")
            showChangeTimestamp=(action "topicRouteAction" "showChangeTimestamp")
            convertToPublicTopic=(action "convertToPublicTopic")
            convertToPrivateMessage=(action "convertToPrivateMessage")}}
        {{/if}}

        {{topic-timeline
          topic=model
          notificationLevel=model.details.notification_level
          prevEvent=info.prevEvent
          fullscreen=info.topicProgressExpanded
          enteredIndex=enteredIndex
          loading=model.postStream.loading
          jumpToPost=(action "jumpToPost")
          jumpTop=(action "jumpTop")
          jumpBottom=(action "jumpBottom")
          jumpToPostPrompt=(action "jumpToPostPrompt")
          jumpToIndex=(action "jumpToIndex")
          replyToPost=(action "replyToPost")
          toggleMultiSelect=(action "toggleMultiSelect")
          deleteTopic=(action "deleteTopic")
          recoverTopic=(action "recoverTopic")
          toggleClosed=(action "toggleClosed")
          toggleArchived=(action "toggleArchived")
          toggleVisibility=(action "toggleVisibility")
          showTopicStatusUpdate=(action "topicRouteAction" "showTopicStatusUpdate")
          showFeatureTopic=(action "topicRouteAction" "showFeatureTopic")
          showChangeTimestamp=(action "topicRouteAction" "showChangeTimestamp")
          convertToPublicTopic=(action "convertToPublicTopic")
          convertToPrivateMessage=(action "convertToPrivateMessage")}}
      {{else}}
        {{#topic-progress
          prevEvent=info.prevEvent
          topic=model
          expanded=info.topicProgressExpanded
          jumpToPost=(action "jumpToPost")}}
          {{#if info.renderAdminMenuButton}}
            {{topic-admin-menu-button
              topic=model
              openUpwards="true"
              rightSide="true"
              toggleMultiSelect=(action "toggleMultiSelect")
              deleteTopic=(action "deleteTopic")
              recoverTopic=(action "recoverTopic")
              toggleClosed=(action "toggleClosed")
              toggleArchived=(action "toggleArchived")
              toggleVisibility=(action "toggleVisibility")
              showTopicStatusUpdate=(action "topicRouteAction" "showTopicStatusUpdate")
              showFeatureTopic=(action "topicRouteAction" "showFeatureTopic")
              showChangeTimestamp=(action "topicRouteAction" "showChangeTimestamp")
              convertToPublicTopic=(action "convertToPublicTopic")
              convertToPrivateMessage=(action "convertToPrivateMessage")}}
          {{/if}}
        {{/topic-progress}}
      {{/if}}
    {{/topic-navigation}}

    <div class="row">
      <section class="topic-area" id="topic" data-topic-id="{{unbound model.id}}">

        <div class="posts-wrapper">
          {{conditional-loading-spinner condition=model.postStream.loadingAbove}}

          {{plugin-outlet name="topic-above-posts" args=(hash model=model)}}

          {{#unless model.postStream.loadingFilter}}
            {{scrolling-post-stream
              posts=postsToRender
              canCreatePost=model.details.can_create_post
              multiSelect=multiSelect
              selectedPostsCount=selectedPostsCount
              selectedQuery=selectedQuery
              gaps=model.postStream.gaps
              showFlags=(action "showPostFlags")
              editPost=(action "editPost")
              showHistory=(action "topicRouteAction" "showHistory")
              showLogin=(action "topicRouteAction" "showLogin")
              showRawEmail=(action "topicRouteAction" "showRawEmail")
              deletePost=(action "deletePost")
              recoverPost=(action "recoverPost")
              expandHidden=(action "expandHidden")
              newTopicAction=(action "replyAsNewTopic")
              toggleBookmark=(action "toggleBookmark")
              togglePostType=(action "togglePostType")
              rebakePost=(action "rebakePost")
              changePostOwner=(action "changePostOwner")
              grantBadge=(action "grantBadge")
              lockPost=(action "lockPost")
              unlockPost=(action "unlockPost")
              unhidePost=(action "unhidePost")
              replyToPost=(action "replyToPost")
              toggleWiki=(action "toggleWiki")
              toggleSummary=(action "toggleSummary")
              removeAllowedUser=(action "removeAllowedUser")
              removeAllowedGroup=(action "removeAllowedGroup")
              showInvite=(action "topicRouteAction" "showInvite")
              topVisibleChanged=(action "topVisibleChanged")
              currentPostChanged=(action "currentPostChanged")
              currentPostScrolled=(action "currentPostScrolled")
              bottomVisibleChanged=(action "bottomVisibleChanged")
              togglePostSelection=(action "togglePostSelection")
              selectReplies=(action "selectReplies")
              selectBelow=(action "selectBelow")
              fillGapBefore=(action "fillGapBefore")
              fillGapAfter=(action "fillGapAfter")}}
          {{/unless}}

          {{conditional-loading-spinner condition=model.postStream.loadingBelow}}
        </div>
        <div id="topic-bottom"></div>

        {{#conditional-loading-spinner condition=model.postStream.loadingFilter}}
          {{#if loadedAllPosts}}

            {{#if model.pending_posts_count}}
              <div class="has-pending-posts">
                {{{i18n "queue.has_pending_posts" count=model.pending_posts_count}}}

                {{#if currentUser.show_queued_posts}}
                  {{#link-to "queued-posts"}}
                    {{d-icon "check"}}
                    {{i18n "queue.view_pending"}}
                  {{/link-to}}
                {{/if}}
              </div>
            {{/if}}

            {{#if model.private_topic_timer.execute_at}}
              {{topic-timer-info
                  statusType=model.private_topic_timer.status_type
                  executeAt=model.private_topic_timer.execute_at
                  duration=model.private_topic_timer.duration}}
            {{/if}}

            {{topic-timer-info
                statusType=model.topic_timer.status_type
                executeAt=model.topic_timer.execute_at
                basedOnLastPost=model.topic_timer.based_on_last_post
                duration=model.topic_timer.duration
                categoryId=model.topic_timer.category_id}}

            {{#if session.showSignupCta}}
              {{! replace "Log In to Reply" with the infobox }}
              {{signup-cta}}
            {{else}}
              {{#if currentUser}}
                {{plugin-outlet name="topic-above-footer-buttons" args=(hash model=model)}}

                {{topic-footer-buttons
                  topic=model
                  toggleMultiSelect=(action "toggleMultiSelect")
                  deleteTopic=(action "deleteTopic")
                  recoverTopic=(action "recoverTopic")
                  toggleClosed=(action "toggleClosed")
                  toggleArchived=(action "toggleArchived")
                  toggleVisibility=(action "toggleVisibility")
                  showTopicStatusUpdate=(action "topicRouteAction" "showTopicStatusUpdate")
                  showFeatureTopic=(action "topicRouteAction" "showFeatureTopic")
                  showChangeTimestamp=(action "topicRouteAction" "showChangeTimestamp")
                  convertToPublicTopic=(action "convertToPublicTopic")
                  convertToPrivateMessage=(action "convertToPrivateMessage")
                  toggleBookmark=(action "toggleBookmark")
                  showFlagTopic=(action "topicRouteAction" "showFlagTopic")
                  showInvite=(action "topicRouteAction" "showInvite")
                  toggleArchiveMessage=(action "toggleArchiveMessage")
                  editFirstPost=(action "editFirstPost")
                  replyToPost=(action "replyToPost")
                  }}
              {{else}}
                <div id="topic-footer-buttons">
                  {{d-button icon="reply" class="btn-primary pull-right" action="showLogin" label="topic.reply.title"}}
                </div>
              {{/if}}
            {{/if}}

            {{#if showSelectedPostsAtBottom}}
              <div class='selected-posts {{unless multiSelect 'hidden'}}'>
                {{partial "selected-posts"}}
              </div>
            {{/if}}

            {{plugin-outlet name="topic-above-suggested" args=(hash model=model)}}

            {{#if model.suggestedTopics.length}}
              {{suggested-topics topic=model}}
            {{/if}}
          {{/if}}
        {{/conditional-loading-spinner}}

      </section>
    </div>

  </div>
{{else}}
  <div class="container">
    {{#conditional-loading-spinner condition=noErrorYet}}
      {{#if model.notFoundHtml}}
        <div class="not-found">{{{model.notFoundHtml}}}</div>
      {{else}}
        <div class="topic-error">
          <div>{{model.message}}</div>
          {{#if model.noRetry}}
            {{#unless currentUser}}
              {{d-button action="showLogin" class="btn-primary topic-retry" icon="user" label="log_in"}}
            {{/unless}}
          {{else}}
            {{d-button action="retryLoading" class="btn-primary topic-retry" icon="refresh" label="errors.buttons.again"}}
          {{/if}}
        </div>
        {{conditional-loading-spinner condition=retrying}}
      {{/if}}
    {{/conditional-loading-spinner}}
  </div>
{{/if}}

{{share-popup topic=model replyAsNewTopic="replyAsNewTopic"}}

{{#if currentUser.enable_quoting}}
  {{quote-button quoteState=quoteState selectText=(action "selectText")}}
{{/if}}
{{/discourse-topic}}

</script>

<script>
(function(){
var TopicListItemView = require('discourse/components/topic-list-item').default;
TopicListItemView.reopen({
  showCategory: function(){
      return !this.get('controller.hideCategory') &&
              this.get('topic.creator') &&
              this.get('topic.category.name') !== 'uncategorized';
  }.property()
});
 
})();

</script>